.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 4px;
    padding: 20px 30px;
    display: flex;
    position: absolute;
}
.container-fullscreen {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 4px;
    padding: 15% 30%;
    position: absolute;
}
.cor-words-wrapper {
    margin: 0 auto;
}
.words-box {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.word {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
  }
.selected {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #800080;
}
.check-button, .next-button {
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.check-button {
    background: linear-gradient(90.04deg, #25df63 0.03%, #ffc0cb 99.96%);
}
.next-button {
    background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
}
.hide-interactive-btn {
    background: linear-gradient(90.04deg, #0cb667 0.03%, #0ca17c 99.96%);
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 1px solid rgb(221, 220, 220);
    opacity:  1;
    padding: 8px 14px;
  }
  .hide-interactive-btn:hover {
    opacity: 0.9;
  }