.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 4px;
    padding: 30px 60px;
    position: absolute;
}
.container-fullscreen {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 4px;
    padding: 15% 25%;
    position: absolute;
}
.external-link-wrapper {
    margin: 0 auto;
}
.next-button {
    background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
    border-radius: 9px;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.link-description {
    font-size: 1.2rem;
    font-weight: bold;
}
.weblink {
    font-size: 1.2rem;
}