.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 4px;
    padding: 30px 60px;
    position: absolute;
    overflow: auto;
}
.container-fullscreen {
    box-sizing: border-box;
    width: 100%;
    height: 99%;
    background: #ffffff;
    border-radius: 4px;
    padding: 15% 25%;
    position: absolute;
    overflow: auto;
}
.external-link-wrapper {
    margin: 0 auto;
}
.next-button {
    background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
    border-radius: 9px;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.weblink {
    font-size: 1.2rem;
    word-break: break-all;
}

h2 {
    font-size: 18px;
}
h3 {
    font-size: 18px;
}