/* .interactives-wrapper {
        box-sizing: border-box;
        width: 1000px;
        height: 480px;
        background: #da5b5b;
        border-radius: 4px;
        padding: 30px 60px;
        display: flex;
        position: absolute;
        z-index: 1000;
} */