.container {
    display: flex;
    margin: 0 auto; 
    min-width: 670px;
    min-height: 400px;
    width: 40vw;
    height: 55vh;
    border: 1px solid rgba(0, 0, 0, 0.425);
    margin-top: 2rem;
    position: relative;
    margin-bottom: 5rem;
    background-color: rgb(255, 255, 255);
}
video {
    width: 100%;
    height: 100%;
    position: absolute;
}

.video-with-interactive::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
    /* display: block; */
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    /* border-radius: 5%; */
    /* background-color: rgb(17, 17, 17); */
}
.container:fullscreen {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.container:fullscreen video {
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.container:fullscreen .interactive {
    width: 100%;
    height: 93%;
}
.interactive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 86%;
}
.container:fullscreen .interactives-line {
    width: 100vw;
}
.container:fullscreen .toggle-btn-wrapper {
    position: absolute;
    z-index: 1200; 
    right: 4%;
    bottom: 1.8rem; 
    /* background-color: rgb(214, 24, 157); */
    width: 4rem;
}
.not-visible {
    display: none;
}

.interactives-line {
    width: 96.2%;
    z-index: 999;
    position: absolute;
    display: flex;
    margin-left: 1.9%;
    height: 1rem;
    bottom: 0rem;
}
.container:fullscreen .interactives-line {
    z-index: 999;
    width: 96.7%;
    position: absolute;
    display: flex;
    margin-left: 1.65%;
    height: 1rem;
    bottom: 0rem;
}
.interactive-point{
    display: block;
    width: 7px;
    height: 7px;
    background-color: rgba(243, 240, 240, 0.815);
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border: 1px solid grey;
}
.close-btn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

/*Player*/
.toggle-btn-wrapper {
    position: absolute;
    z-index: 1200; 
    right: 7%;
    bottom: 1.8rem; 
    width: 2rem;
    /* background-color: green; */
}

.toggle-btn, .toggle-btn-fullscreen {
    width: 1rem;
    background-color: transparent;
    cursor: pointer;
    border:none;
}
.toggle-btn {
    border-radius: 50%;
    padding: 1.3rem 1.3rem; 

}
.toggle-btn-fullscreen {
    border-radius: 50%;
    padding: 1.5rem 1.5rem;
}
.cover {
    position: absolute;
    z-index: 1200;
    top: 20%;
    left: 10%;
    display: flex;
    font-size: 3rem;
    max-width: 80%;
    max-height: 50%;
}

.container:fullscreen .video-container,
.container:fullscreen .toggle-btn-wrapper, 
.container:fullscreen .interactive,
.container:fullscreen .interactives-line {
    position: fixed;
}