.container {
    /* display: flex; */
    margin: 0 auto; 
    width: 1000px;
    height: 550px;
    border: 1px solid black;
    margin-top: 2rem;
    position: relative;
    margin-bottom: 5rem;
}
.container:fullscreen video {
    height: 100vh;
    width: 100vw;
}

/* .btn {
    padding: 10px 20px;
    background-color: rgb(155, 145, 146);
    border: 1px solid gray;
    border-radius: 5%;
    cursor: pointer;
    right: 1rem;
    position: absolute;
    opacity: 0.9;
}
.btn:hover {
    opacity: 1;
} */
.not-visible {
    display: none;
}

.interactive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.interactives-line {
    width: 970px;
    z-index: 999;
    position: absolute;
    left: 15px;
    display: flex; 
    height: 1rem;
    bottom: 0rem;
}
.first {
    display: block;
    width: 7px;
    height: 7px;
    background-color: rgba(243, 240, 240, 0.815);
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border: 1px solid grey;
}
.close-btn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

/*Player*/
.toggle-btn-wrapper {
    position: absolute;
    z-index: 1200; 
    right: 5%;
    bottom: 1.8rem; 
    width: 2rem;
}
.toggle-btn-wrapper:fullscreen {
    position: absolute;
    z-index: 1200; 
    right: 4rem; 
    bottom: 1.8rem; 
}

.toggle-btn, .toggle-btn-fullscreen {
    width: 1rem;
    background-color: transparent;
    cursor: pointer;
    border:none;
}
.toggle-btn {
    border-radius: 50%;
    padding: 1.3rem 1.3rem;

}
.toggle-btn-fullscreen {
    border-radius: 50%;
    padding: 1.5rem 1.5rem;
}
.cover {
    position: absolute;
    z-index: 1200;
    top: 20%;
    left: 10%;
    display: flex;
    font-size: 3rem;
    max-width: 80%;
    max-height: 50%;
}

.container:fullscreen .video-container,
.container:fullscreen .toggle-btn-wrapper, 
.container:fullscreen .interactive,
.container:fullscreen .interactives-line {
    position: fixed;
}
